# Data and Models
datasets/
pretrained_models/
*.pt
*.pth
*.nii
*.nii.gz

# Outputs and Visuals
*.jpg
# *.csv
# *.png

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db
