# Data and Models
datasets/
pretrained_models/
epoch_checkpoints/
*.pt
*.pth
*.nii
*.nii.gz

# Outputs and Visuals
epoch_visuals/
results/
*.png
!img1.png
!preprocessing_preview.png
*.jpg
*.csv
!ARCHITECTURE_DIAGRAM.png
!DualPathArch.png

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db
